<div class="pcoded-content">
      <div class="pcoded-inner-content">
          <!-- Main-body start -->
          <div class="main-body">
              <div class="page-wrapper">
                  <!-- Page-body start -->
                  <div class="page-body">
                      <div class="row">
                          <!--  sale analytics start -->
                          <div class="col-12">
                              <div class="card">
                                  <div class="card-block">
                                      <h3>Dados globais a cada hora</h3>
                                      <div id="global-info-in-hour" style="height: 400px;"></div>
                                      <h3>Dados globais a cada meia hora</h3>
                                      <div id="global-info-in-half-hour" style="height: 400px;"></div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-block">
                                      <select id="gauge-selector">
                                          <% @gauges.each do |gauge| %>
                                              <option value="<%= gauge.id %>" <%= (@active_gauge.id == gauge.id) ? 'selected="selected"' : '' %>><%= gauge.name %> (<%= gauge.cod %>)</option>
                                          <% end %>
                                      </select>
                                      <h3>Dados a cada hora por sensor</h3>
                                      <div id="individual-info-in-hour" style="height: 400px;"></div>
                                      <h3>Dados a cada meia hora por sensor</h3>
                                      <div id="individual-info-in-half-hour" style="height: 400px;"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Page-body end -->
              </div>
              <div id="styleSelector"> </div>
              <script>
                'use strict';
                var chart1,chart2,chart3,chart4;
                $('#gauge-selector').change(function() {
                  $.post("/individual_chart", { active_gauge: this.value },
                      function(response) {
                          var result = $.parseJSON(response);
                          chart3.dataProvider = result[0];
                          chart4.dataProvider = result[0];
                          chart3.validateData();
                          chart4.validateData();
                  });
                })

                $(document).ready(function() {
                    // sale analytics start
                    chart1 = AmCharts.makeChart( "global-info-in-hour", {
                        "type": "serial",
                        "theme": "light",
                        "legend": {
                            "useGraphSettings": true
                        },
                        "synchronizeGrid":true,
                        "valueAxes": [{
                            "id":"v1",
                            "axisColor": "#FF6600",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "left"
                        }, {
                            "id":"v2",
                            "axisColor": "#FCD202",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "right"
                        }, {
                            "id":"v3",
                            "axisColor": "#B0DE09",
                            "axisThickness": 2,
                            "gridAlpha": 0,
                            "offset": 50,
                            "axisAlpha": 1,
                            "position": "right"
                        }],
                        "graphs": [{
                            "valueAxis": "v1",
                            "lineColor": "#FF6600",
                            "bullet": "round",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets",
                            "valueField": "all_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v2",
                            "lineColor": "#FCD202",
                            "bullet": "square",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets relacionados",
                            "valueField": "related_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v3",
                            "lineColor": "#B0DE09",
                            "bullet": "triangleUp",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "precipitação",
                            "valueField": "gauge_measures",
                    		"fillAlphas": 0
                        }],
                        "chartScrollbar": {},
                        "chartCursor": {
                            "cursorPosition": "mouse"
                        },
                        "categoryField": "time",
                        "categoryAxis": {
                            "axisColor": "#DADADA",
                            "minorGridEnabled": true
                        },
                        "dataProvider": <%= @global_infos_in_hour %>
                    } );
                    chart2 = AmCharts.makeChart( "global-info-in-half-hour", {
                        "type": "serial",
                        "theme": "light",
                        "legend": {
                            "useGraphSettings": true
                        },
                        "synchronizeGrid":true,
                        "valueAxes": [{
                            "id":"v1",
                            "axisColor": "#FF6600",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "left"
                        }, {
                            "id":"v2",
                            "axisColor": "#FCD202",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "right"
                        }, {
                            "id":"v3",
                            "axisColor": "#B0DE09",
                            "axisThickness": 2,
                            "gridAlpha": 0,
                            "offset": 50,
                            "axisAlpha": 1,
                            "position": "right"
                        }],
                        "graphs": [{
                            "valueAxis": "v1",
                            "lineColor": "#FF6600",
                            "bullet": "round",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets",
                            "valueField": "all_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v2",
                            "lineColor": "#FCD202",
                            "bullet": "square",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets relacionados",
                            "valueField": "related_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v3",
                            "lineColor": "#B0DE09",
                            "bullet": "triangleUp",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "precipitação",
                            "valueField": "gauge_measures",
                    		"fillAlphas": 0
                        }],
                        "chartScrollbar": {},
                        "chartCursor": {
                            "cursorPosition": "mouse"
                        },
                        "categoryField": "time",
                        "categoryAxis": {
                            "axisColor": "#DADADA",
                            "minorGridEnabled": true
                        },
                        "dataProvider": <%= @global_infos_in_half_hour %>
                    } );
                    // sale analytics start
                    chart3 = AmCharts.makeChart( "individual-info-in-hour", {
                        "type": "serial",
                        "theme": "light",
                        "legend": {
                            "useGraphSettings": true
                        },
                        "synchronizeGrid":true,
                        "valueAxes": [{
                            "id":"v1",
                            "axisColor": "#FF6600",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "left"
                        }, {
                            "id":"v2",
                            "axisColor": "#FCD202",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "right"
                        }, {
                            "id":"v3",
                            "axisColor": "#B0DE09",
                            "axisThickness": 2,
                            "gridAlpha": 0,
                            "offset": 50,
                            "axisAlpha": 1,
                            "position": "right"
                        }],
                        "graphs": [{
                            "valueAxis": "v1",
                            "lineColor": "#FF6600",
                            "bullet": "round",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets",
                            "valueField": "all_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v2",
                            "lineColor": "#FCD202",
                            "bullet": "square",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets relacionados",
                            "valueField": "related_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v3",
                            "lineColor": "#B0DE09",
                            "bullet": "triangleUp",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "precipitação",
                            "valueField": "gauge_measures",
                    		"fillAlphas": 0
                        }],
                        "chartScrollbar": {},
                        "chartCursor": {
                            "cursorPosition": "mouse"
                        },
                        "categoryField": "time",
                        "categoryAxis": {
                            "axisColor": "#DADADA",
                            "minorGridEnabled": true
                        },
                        "dataProvider": <%= @individual_infos_in_hour %>
                    } );
                    chart4 = AmCharts.makeChart( "individual-info-in-half-hour", {
                        "type": "serial",
                        "theme": "light",
                        "legend": {
                            "useGraphSettings": true
                        },
                        "synchronizeGrid":true,
                        "valueAxes": [{
                            "id":"v1",
                            "axisColor": "#FF6600",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "left"
                        }, {
                            "id":"v2",
                            "axisColor": "#FCD202",
                            "axisThickness": 2,
                            "axisAlpha": 1,
                            "position": "right"
                        }, {
                            "id":"v3",
                            "axisColor": "#B0DE09",
                            "axisThickness": 2,
                            "gridAlpha": 0,
                            "offset": 50,
                            "axisAlpha": 1,
                            "position": "right"
                        }],
                        "graphs": [{
                            "valueAxis": "v1",
                            "lineColor": "#FF6600",
                            "bullet": "round",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets",
                            "valueField": "all_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v2",
                            "lineColor": "#FCD202",
                            "bullet": "square",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "tweets relacionados",
                            "valueField": "related_tweets",
                    		"fillAlphas": 0
                        }, {
                            "valueAxis": "v3",
                            "lineColor": "#B0DE09",
                            "bullet": "triangleUp",
                            "bulletBorderThickness": 1,
                            "hideBulletsCount": 30,
                            "title": "precipitação",
                            "valueField": "gauge_measures",
                    		"fillAlphas": 0
                        }],
                        "chartScrollbar": {},
                        "chartCursor": {
                            "cursorPosition": "mouse"
                        },
                        "categoryField": "time",
                        "categoryAxis": {
                            "axisColor": "#DADADA",
                            "minorGridEnabled": true
                        },
                        "dataProvider": <%= @individual_infos_in_half_hour %>
                    } );
                });

              </script>
          </div>
      </div>
  </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- waves js -->
    <script src="mega-able-lite/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="mega-able-lite/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="mega-able-lite/js/modernizr/modernizr.js "></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="mega-able-lite/js/SmoothScroll.js"></script>
    <script src="mega-able-lite/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <!-- Chart js -->
    <script type="text/javascript" src="mega-able-lite/js/chart.js/Chart.js"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="mega-able-lite/pages/widget/amchart/gauge.js"></script>
    <script src="mega-able-lite/pages/widget/amchart/serial.js"></script>
    <script src="mega-able-lite/pages/widget/amchart/light.js"></script>
    <script src="mega-able-lite/pages/widget/amchart/pie.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="mega-able-lite/js/pcoded.min.js"></script>
    <script src="mega-able-lite/js/vertical-layout.min.js "></script>
    <!-- custom js -->
    <script type="text/javascript" src="mega-able-lite/js/script.js "></script>
