<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!--  sale analytics start -->
                        <ul class="nav nav-tabs  tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#rf-tab" role="tab">Random Forest Regressor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#svr-tab" role="tab">Support Vector Regression (SVR)</a>
                            </li>
                        </ul>
                        <div class="tab-content tabs card-block">
                          <div id="rf-tab" class="tab-pane border bg-white p-3 active" role="tabpanel">
                              <h2>Random Forest Regressor Results Table</h2>
                              <table class="table table-bordered table-striped">
                                <p><span class="filter-rows-count">810</span>/810 resultados filtrados.</p>
                                <thead>
                                  <tr>
                                    <th>
                                      ID do Sensor
                                      <br>
                                      <input class="form-control" id="rf-gauge-id-filter-input" type="text" placeholder="ID Sensor">
                                    </th>
                                    <th>
                                      Nome do Sensor
                                      <br>
                                      <input class="form-control" id="rf-gauge-name-filter-input" type="text" placeholder="Nome do sensor">
                                    </th>
                                    <th>
                                      Split (nº)
                                      <br>
                                      <input class="form-control" id="rf-split-filter-input" type="text" placeholder="Nº">
                                    </th>
                                    <th>
                                      R2 Score
                                      <br>
                                      <input class="form-control w-50 float-left" id="rf-r2-score-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="rf-r2-score-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                    <th>
                                      Explained Variance Score
                                      <br>
                                      <input class="form-control w-50 float-left" id="rf-variance-score-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="rf-variance-score-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                    <th>
                                      Mesma Classe
                                      <br>
                                      <input class="form-control w-50 float-left" id="rf-same-class-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="rf-same-class-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                  </tr>
                                </thead>
                                <tbody id="rf-table">
                                  <% @rf_results[1..@rf_results.length].each do |result| %>
                                    <tr>
                                      <td><%= result[0] %></td>
                                      <td><%= "#{@gauges.find(result[0]).name} (#{@gauges.find(result[0]).cod})" %></td>
                                      <td><%= result[1] %></td>
                                      <td><%= result[2] %></td>
                                      <td><%= result[3] %></td>
                                      <td><%= result[4] %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                          </div>
                          <div id="svr-tab" class="tab-pane border bg-white p-3" role="tabpanel">
                              <h2>Support Vector Regression (SVR) Results Table</h2>
                              <table class="table table-bordered table-striped">
                                <p><span class="filter-rows-count">810</span>/810 resultados filtrados.</p>
                                <thead>
                                  <tr>
                                    <th>
                                      ID do Sensor
                                      <br>
                                      <input class="form-control" id="svr-gauge-id-filter-input" type="text" placeholder="ID Sensor">
                                    </th>
                                    <th>
                                      Nome do Sensor
                                      <br>
                                      <input class="form-control" id="svr-gauge-name-filter-input" type="text" placeholder="Nome do sensor">
                                    </th>
                                    <th>
                                      Split (nº)
                                      <br>
                                      <input class="form-control" id="svr-split-filter-input" type="text" placeholder="Nº">
                                    </th>
                                    <th>
                                      R2 Score
                                      <br>
                                      <input class="form-control w-50 float-left" id="svr-r2-score-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="svr-r2-score-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                    <th>
                                      Explained Variance Score
                                      <br>
                                      <input class="form-control w-50 float-left" id="svr-variance-score-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="svr-variance-score-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                    <th>
                                      Mesma Classe
                                      <br>
                                      <input class="form-control w-50 float-left" id="svr-same-class-min-filter-input" type="text" placeholder="Min">
                                      <input class="form-control w-50 float-left" id="svr-same-class-max-filter-input" type="text" placeholder="Max">
                                    </th>
                                  </tr>
                                </thead>
                                <tbody id="svr-table">
                                  <% @svr_results[1..@svr_results.length].each do |result| %>
                                    <tr>
                                      <td><%= result[0] %></td>
                                      <td><%= "#{@gauges.find(result[0]).name} (#{@gauges.find(result[0]).cod})" %></td>
                                      <td><%= result[1] %></td>
                                      <td><%= result[2] %></td>
                                      <td><%= result[3] %></td>
                                      <td><%= result[4] %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <script>
              function filter_table(table_name) {
                var input, table, tr, td, i;
                table = document.getElementById(table_name);
                table_prefix = table_name.split("-")[0];

                var gauge_id_value = $(`#${table_prefix}-gauge-id-filter-input`).val();
                var gauge_name_value = $(`#${table_prefix}-gauge-name-filter-input`).val();
                var split_value = $(`#${table_prefix}-split-filter-input`).val();
                var r2_min_value = $(`#${table_prefix}-r2-score-min-filter-input`).val();
                var r2_max_value = $(`#${table_prefix}-r2-score-max-filter-input`).val();
                var variance_min_value = $(`#${table_prefix}-variance-score-min-filter-input`).val();
                var variance_max_value = $(`#${table_prefix}-variance-score-max-filter-input`).val();
                var same_class_min_value = $(`#${table_prefix}-same-class-min-filter-input`).val();
                var same_class_max_value = $(`#${table_prefix}-same-class-max-filter-input`).val();

                tr = table.getElementsByTagName("tr");

                var filter_rows_count = 0;

                for (i = 0; i < tr.length; i++) {
                  var gauge_id_td = tr[i].getElementsByTagName("td")[0];
                  var gauge_name_td = tr[i].getElementsByTagName("td")[1];
                  var split_td = tr[i].getElementsByTagName("td")[2];
                  var r2_td = tr[i].getElementsByTagName("td")[3];
                  var variance_td = tr[i].getElementsByTagName("td")[4];
                  var same_class_td = tr[i].getElementsByTagName("td")[5];

                  if (gauge_id_value == "" && gauge_name_value == "" && split_value == "" && r2_min_value == "" && r2_max_value == "" && variance_min_value == "" && variance_max_value == "" && same_class_min_value == "" && same_class_max_value == "") {
                    tr[i].style.display = "";
                  } else {
                    if (gauge_id_value != "" && gauge_id_td.innerHTML != gauge_id_value) {
                      tr[i].style.display = "none";
                    } else if (gauge_name_value != "" && gauge_name_td.innerHTML.toUpperCase().indexOf(gauge_name_value.toUpperCase()) < 0) {
                      tr[i].style.display = "none";
                    } else if (split_value != "" && split_td.innerHTML != split_value) {
                      tr[i].style.display = "none";
                    } else if (r2_min_value != "" && parseFloat(r2_min_value) > parseFloat(r2_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else if (r2_max_value != "" && parseFloat(r2_max_value) < parseFloat(r2_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else if (variance_min_value != "" && parseFloat(variance_min_value) > parseFloat(variance_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else if (variance_max_value != "" && parseFloat(variance_max_value) < parseFloat(variance_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else if (same_class_min_value != "" && parseFloat(same_class_min_value) > parseFloat(same_class_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else if (same_class_max_value != "" && parseFloat(same_class_max_value) < parseFloat(same_class_td.innerHTML)) {
                      tr[i].style.display = "none";
                    } else {
                      filter_rows_count++;
                      tr[i].style.display = "";
                    }
                  }
                }
                $(`#${table_prefix}-tab .filter-rows-count`).html(filter_rows_count);
              };
              $(document).ready(function(){
                $("#rf-gauge-id-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-gauge-name-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-split-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-r2-score-min-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-r2-score-max-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-variance-score-min-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-variance-score-max-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-same-class-min-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });
                $("#rf-same-class-max-filter-input").on("keyup", function() {
                  filter_table("rf-table");
                });

                $("#svr-gauge-id-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-gauge-name-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-split-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-r2-score-min-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-r2-score-max-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-variance-score-min-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-variance-score-max-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-same-class-min-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });
                $("#svr-same-class-max-filter-input").on("keyup", function() {
                  filter_table("svr-table");
                });

              });
            </script>
        </div>
    </div>
</div>
  <!-- Warning Section Starts -->
  <!-- Older IE warning message -->
  <!--[if lt IE 10]>
  <div class="ie-warning">
      <h1>Warning!!</h1>
      <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
      <div class="iew-container">
          <ul class="iew-download">
              <li>
                  <a href="http://www.google.com/chrome/">
                      <img src="assets/images/browser/chrome.png" alt="Chrome">
                      <div>Chrome</div>
                  </a>
              </li>
              <li>
                  <a href="https://www.mozilla.org/en-US/firefox/new/">
                      <img src="assets/images/browser/firefox.png" alt="Firefox">
                      <div>Firefox</div>
                  </a>
              </li>
              <li>
                  <a href="http://www.opera.com">
                      <img src="assets/images/browser/opera.png" alt="Opera">
                      <div>Opera</div>
                  </a>
              </li>
              <li>
                  <a href="https://www.apple.com/safari/">
                      <img src="assets/images/browser/safari.png" alt="Safari">
                      <div>Safari</div>
                  </a>
              </li>
              <li>
                  <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                      <img src="assets/images/browser/ie.png" alt="">
                      <div>IE (9 & above)</div>
                  </a>
              </li>
          </ul>
      </div>
      <p>Sorry for the inconvenience!</p>
  </div>
  <![endif]-->
  <!-- Warning Section Ends -->

  <!-- waves js -->
  <script src="mega-able-lite/pages/waves/js/waves.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="mega-able-lite/js/jquery-slimscroll/jquery.slimscroll.js "></script>
  <!-- modernizr js -->
  <script type="text/javascript" src="mega-able-lite/js/modernizr/modernizr.js "></script>
  <!-- slimscroll js -->
  <script type="text/javascript" src="mega-able-lite/js/SmoothScroll.js"></script>
  <script src="mega-able-lite/js/jquery.mCustomScrollbar.concat.min.js "></script>
  <!-- Chart js -->
  <script type="text/javascript" src="mega-able-lite/js/chart.js/Chart.js"></script>
  <!-- amchart js -->
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="mega-able-lite/pages/widget/amchart/gauge.js"></script>
  <script src="mega-able-lite/pages/widget/amchart/serial.js"></script>
  <script src="mega-able-lite/pages/widget/amchart/light.js"></script>
  <script src="mega-able-lite/pages/widget/amchart/pie.min.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <!-- menu js -->
  <script src="mega-able-lite/js/pcoded.min.js"></script>
  <script src="mega-able-lite/js/vertical-layout.min.js "></script>
  <!-- custom js -->
  <script type="text/javascript" src="mega-able-lite/js/script.js "></script>
